<div class="text-center">
  <p>form test</p>
    <!-- Bootstrap Slider -->  
  <div class="well">
    <div class="slider slider-horizontal" style="width: 140px;">
      <div class="slider-tack">
        <div class="slider-selection" style="left: 0%; width: 100%;"></div>
        <div class="slider-handle round" style="left: 30%;"></div>
        <div class="slider-handle round hide" style="left: 0%;"></div>
      </div>
      <div class="tooltip top" style="top: -40px; left: -5px;">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">Current value: 3</div>
      </div>
      <input type="text" class="span2" value="4" id="sl1">
    </div>
  </div>
</div>
