<h1>D3 tutorial by Scott Murray</h1>
<h3>a bar graph tutorial</h3>
<!--<div class="bar"></div>
    <p class="caption">
     <select id="country">
    <img src="logo.png" width="100px" alt="Logo" />
 -->
<script>
    // d3.select("body").append("p").text("New paragraph!");

    // d3.select("body")
    // .append("h1")
    // .text("New Heading!");

    // d3.select("body")
    //   .append("p")
    //   .text("a paragraph");


  var dataset = [ 25, 7, 5, 26, 11, 8, 25, 14, 23, 19,
      14, 11, 22, 29, 11, 13, 12, 17, 18, 10, 24, 18, 25, 9, 3 ];
  
   d3.select("body").selectAll("div")
    .data(dataset)
    .enter()
    .append("div")
    .attr("class", "bar")
    .style("height", function(d) {
    var barHeight = d * 5;  //Scale up by factor of 5
    return barHeight + "px";
    });



</script>

<p> more words outside the script</p>
