<h1>D3 tutorial by Scott Murray</h1>
<h3>svg primer 02</h3>

  
 <!--    <svg width="75" height="75">
      <line x1="25" y1="0" x2="50" y2="20"  class="house"/>
      <line x1="50" y1="20" x2="50" y2="50"  class="house"/>
      <line x1="50" y1="50" x2="0" y2="50"  class="house"/>
      <line x1="0" y1="50" x2="0" y2="20"  class="house"/>
      <line x1="0" y1="20" x2="25" y2="0"  class="house"/>
      <rect x="0" y="30" width="30" height="20" fill="purple"/>
    </svg> -->



  <p> words before the script</p>

    <script>
    //Width and height
    var w = 500;
    var h = 75;
    var dataset = [ 5, 10, 15, 20, 25 ];
    
    var svg = d3.select("body")
      .append("svg")
      .attr("width", w)
      .attr("height", h);

    var circles = svg.selectAll("circle")
      .data(dataset)
      .enter()
      .append("circle");

    circles.attr("cx", function(d, i) {
            return (i * 50) + 25;
        })
       .attr("cy", h/2)
       .attr("r", function(d) {
            return d;
       })
       .attr("fill", "yellow")
       .attr("stroke", "orange")
       .attr("stroke-width", function(d) {
           return d/2;
       });

      

    </script>

  <p> words after the script</p>
