
<h1>D3 tutorial by Scott Murray</h1>
<h3>an svg primer</h3>

  <p>
    <svg width="75" height="75">
      <!-- <rect x="0" y="0" width="500" height="50"/> -->
      <!-- <circle cx="250" cy="25" r="25"/> -->
      <!-- <ellipse cx="250" cy="25" rx="100" ry="25"/> -->
      <line x1="25" y1="0" x2="50" y2="20"  class="house"/>
      <line x1="50" y1="20" x2="50" y2="50"  class="house"/>
      <line x1="50" y1="50" x2="0" y2="50"  class="house"/>
      <line x1="0" y1="50" x2="0" y2="20"  class="house"/>
      <line x1="0" y1="20" x2="25" y2="0"  class="house"/>
    </svg>

    <br>
    <small>text on the canvas<small>
    <svg width="500" height="50">
      <text x="25" y="25" font-family="sans-serif"
      font-size="25" fill="gray">Easy-peasy</text>
    </svg>

    <svg width="500" height="50">
      <circle cx="25" cy="25" r="22" fill="yellow" stroke="orange" stroke-width="5"/>
      <circle cx="75" cy="25" r="22" class="pumpkin"/>
    </svg>
  </p>



  <p> words before the script</p>

    <script>

    
      

    </script>

  <p> words after the script</p>
